@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mabinogi";
  src: url("../public/fonts/Mabinogi_Classic_TTF.ttf");
}

html,
body {
  font-family: mabinogi;
  background-color: #004cc8;
}

.ql-toolbar:first-of-type {
  display: none;
}
.ql-container.ql-snow {
  height: 250px;
}

.pagination.current > a {
  color: rgb(252 211 77);
  border-bottom: 1px solid rgb(252 211 77);
}
